body{
padding-bottom: 200px;
background: black;
}

/*makes image fill the content width of the containing element*/
.img-responsive{
  width: 100%;
  height: auto;
}

.navbar-brand{
  font-size: 36px;
}
.subhead{
  font-size: 26px;
}

#mynav{
  margin-bottom: 0;
  background: black;
  color: white;
  border: 0!important;
}
.jumbo {
    min-height: 100vh;
    background: url(../img/bkgrnd_nature-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jumbo-text {
  padding: 3% 3% 3% 3%;
  background: black;
  color: white;
  margin: 1% 1% 0 -1%;
}

.page-break {
  background: black;
  color: white;
  margin: 0;
}

.page-break h1 {
  margin: 0;
  padding: 1%;
}

.card {
  border: 1px solid red;
  position: relative;
  margin-bottom: 10px
}

.card .content {
    position:absolute;
    top: 20%;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: center;

    color: white;
}
/*all images in an anchor tag when hovered over within the card class will change opacity*/
.card a:hover img{
  opacity: .8;
}

.card-content {
  padding: 10px;
  background: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 100%;
  min-height: 290px;
}

.card-content p, .card-content h3 {
  margin: 0;
}

.card-content h2 {
  margin-top: 0;
}

.card img {
  max-width: 100%;
  height: auto;
}

.text-content {
  min-height: 105px;
}

.social {
  position: fixed;
  left: 0;
  top: 50vh;
}

.social a{
  display: block;
  background: teal;
  color: white;
  padding: 5px;
}

.social .fa{
  font-size: 200%;
  padding: 15px;
}

.social a:nth-child(2) {
  background: #007bb5;
}

.social a:first-child{
  background: black;
}
/****************Single.php**********************/
.post .row {
  margin-top: 20px;
}

.post .card p {
  margin: 10px 10px  10px 10px;
}

.social .fa{
  font-size: 200%;
  padding: 15px;
}

.card-content h3 h4 {
  min-height: 215px;
  padding-left: 10px;
}
.card-content h2, h3, h4{
  padding-left: 10px
}

.sidebar {
  min-height: 615px;
}
/*********************Footer*****************************/
.footer {
  margin-top: 50px;
  background: white;
  height: 50px;
  /*positon fixed keeps footer at bottom of page*/
  position:fixed;
  /*bottom and left act as margin*/
  bottom: 0;
  left: 0;
  /*width tells the footer to push to full size of display*/
  width: 100%;
  background: black;
  z-index: 2;
}

#contact-title {
  text-align: center;
}
#copyright {
  text-align: left;
}
